<%- include('../partials/head.ejs') %>


<body class="min-h-screen bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900">

    <%- include('../partials/nav-administration.ejs') %>
    <div class="p-6">
        <div class="max-w-8xl mx-auto">
            <!-- Header del Panel -->

            <div class="flex flex-col sm:flex-row sm:justify-between sm:items-start gap-4 mb-8">
                <div>
                    <div class="flex items-center gap-3 mb-2">
                        <div class="p-2 bg-blue-500/20 rounded-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-400" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3 7a2 2 0 012-2h4l2 2h8a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V7z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14h6m-6 3h6" />
                            </svg>

                        </div>
                        <h1 class="text-2xl sm:text-3xl font-bold text-white">Cotizaciones Guardadas</h1>
                    </div>
                    <p class="text-gray-400 text-sm sm:text-base">Ve las cotizaciones gurdadas por tipos
                    </p>
                </div>

                <a href="/cercas"
                    class="bg-gray-700 hover:bg-gray-600 text-gray-300 hover:text-white px-3 py-2 sm:px-4 sm:py-2 rounded-lg flex items-center justify-center gap-2 transition-colors duration-200 border border-gray-600 text-sm sm:text-base w-full sm:w-auto">
                    <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                    </svg>
                    <span class="sm:inline">Volver al Cotizador</span>
                </a>
            </div>


            <!-- Menu de Navegación (Tabs) -->
            <%- include('../partials/nav-administration-quotes.ejs') %>
            <% if (message) { %>
            <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Warning!</span> <%= message%>
                </div>
            </div>
            <% } %>
            <% if (data.length > 0) { %>

            <!-- Contenido de las Pestañas -->
            <div id="content-clientes"
                class="tab-content bg-slate-800 rounded-lg border border-slate-700 p-6 shadow-lg">
                <h3 class="text-xl font-semibold text-white mb-4">Cotizaciones de Clientes</h3>
                <div class="overflow-x-auto">
                    <table class="w-full text-left text-sm text-slate-400">
                        <thead class="text-xs text-slate-300 uppercase bg-slate-700">
                            <tr>
                                <th scope="col" class="px-6 py-3 rounded-tl-lg">ID</th>
                                <th scope="col" class="px-6 py-3">ID cliente</th>
                                <th scope="col" class="px-6 py-3">Total</th>
                                <th scope="col" class="px-6 py-3">No de paneles</th>
                                <th scope="col" class="px-6 py-3">Inversor</th>
                                <th scope="col" class="px-6 py-3">Distancia</th>
                                <th scope="col" class="px-6 py-3">tuberia</th>
                                <th scope="col" class="px-6 py-3">Tarifa</th>
                                <th scope="col" class="px-6 py-3">Hilos</th>
                                <th scope="col" class="px-6 py-3">Promedio</th>
                                <th scope="col" class="px-6 py-3 rounded-tr-lg">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% data.forEach(quote => {%>
                            <% let total = parseFloat(quote.total) %>


                            <tr class="bg-slate-800 border-b border-slate-700 hover:bg-slate-700">
                                <td class="px-6 py-4 font-medium text-white"> <%= quote.id  %> </td>
                                <td class="px-6 py-4"> <%= quote.id_cliente  %></td>
                                <td class="px-6 py-4">
                                    <%= total.toLocaleString('es-MX')%>
                                </td>
                                <td class="px-6 py-4"> <%= quote.numero_paneles  %></td>
                                <td class="px-6 py-4"> <%= quote.inversor  %></td>
                                <td class="px-6 py-4"> <%= quote.distancia  %></td>
                                <td class="px-6 py-4"> "<%= quote.tuberia  %></td>
                                <td class="px-6 py-4"> <%= quote.tarifa  %></td>
                                <td class="px-6 py-4"> <%= quote.hilos  %></td>
                                <td class="px-6 py-4"> <%= quote.promedio  %></td>


                                <td class="px-6 py-4">
                                    <div class="flex justify-around">
                                        <div class="flex items-center space-x-3">
                                            <% if(quote.id !== null) { %>
                                            <a href="/admin/saves/panels/<%=quote.id%>/<%= quote.id_cliente  %>"
                                                class="text-amber-400 hover:text-amber-300">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <line x1="12" y1="1" x2="12" y2="3" />
                                                    <line x1="12" y1="21" x2="12" y2="23" />
                                                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                                                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                                                    <line x1="1" y1="12" x2="3" y2="12" />
                                                    <line x1="21" y1="12" x2="23" y2="12" />
                                                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                                                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                                                    <circle cx="12" cy="12" r="5" />
                                                </svg>
                                            </a>
                                            <%} else {%>
                                            <span
                                                class="bg-red-900 text-red-300 text-xs font-medium px-2.5 py-0.5 rounded-full">Sin
                                                datos
                                            </span>
                                            <%}%>
                                    </div>
                                    <div class="flex items-center space-x-3">
                                      <button
                                        class="delete-btn text-red-400 hover:text-red-300"
                                        data-id="<%= quote.id %>">
                                            <!-- Icono SVG -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M3 6h18" />
                                                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                                                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                                                <line x1="10" x2="10" y1="11" y2="17" />
                                                <line x1="14" x2="14" y1="11" y2="17" />
                                            </svg>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <!-- <td class="px-6 py-4">

                                </td> -->

                            </tr>
                            <% })%>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="flex justify-center p-4 border-t border-slate-700 bg-slate-700 rounded-b-xl mt-2">

                <% if (currentPage > 1) { %>
                <a href="?page=<%= currentPage - 1 %> "
                    class="bg-gray-700 hover:bg-gray-600 text-gray-300 hover:text-white px-3 py-2 sm:px-4 sm:py-2 rounded-lg flex items-center justify-center gap-2 transition-colors duration-200 border border-gray-600 text-sm sm:text-base w-full sm:w-auto">Anterior</a>
                <% } %>


                <p class="text-gray-400 text-sm sm:text-base ml-5 mr-5">Página <%= currentPage %> de <%= totalPages %>
                </p>



                <% if (currentPage < totalPages) { %>
                <a href="?page=<%= currentPage + 1 %>"
                    class="bg-gray-700 hover:bg-gray-600 text-gray-300 hover:text-white px-3 py-2 sm:px-4 sm:py-2 rounded-lg flex items-center justify-center gap-2 transition-colors duration-200 border border-gray-600 text-sm sm:text-base w-full sm:w-auto">Siguiente</a>
                <% } %>

            </div>
        </div>
    </div>
    <% }%>
    <script src="/js/panel-administration.js"></script>
    <script>
        document.addEventListener('click', async e => {
            const btn = e.target.closest('.delete-btn');
            if (!btn) return;

            const id = btn.dataset.id;

            const { isConfirmed } = await Swal.fire({
                title: '¿Estás seguro?',
                text: 'Se eliminará el cliente y todas sus cotizaciones. Esta acción no se puede deshacer.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            });

            if (!isConfirmed) return;

            try {
                const res = await fetch(`/admin/saves/panels/${id}`, { method: 'DELETE' });
                const data = await res.json();          // <-- leemos la respuesta JSON

                if (!res.ok) {                          // 404 o 500
                    throw new Error(data.message || 'Error desconocido');
                }

                Swal.fire('¡Eliminado!', data.successMessage, 'success');
                btn.closest('tr').remove();
            } catch (err) {
                Swal.fire('Error', err.message, 'error');
            }
        });
    </script>
</body>

</html>